{% macro search(form) %}
<div class="rounded py-2">
    <div class="container">
        {{ form_start(form,{action:path('annonces'), attr:{
            id:'search-form'
        } }) }}
        <div class="row">
            <div class="col-lg-12">
                <div class="form-row ">
                    <div class="col-md-8 col-12">
                    {{ form_row(form.mots)}}
                    </div>
                    <div class="col-md-4 col-12">
                        <button class="btn w-100 btn-primary">{% trans %}Search{% endtrans %} <i class="fa fa-search-plus" aria-hidden="true"></i> </button>
                    </div>
                </div>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
</div>
{% endmacro %}