{% extends 'admin/base.html.twig' %}

{% block title %}Edit Category{% endblock %}

{% block body %}
<div class="card card-outline card-success">
    <div class="card-header">
        <h3>Edit Category</h3>
    </div>
    <div class="card-body">
        {{ include('admin/category/_form.html.twig', {'button_label': 'Update'}) }}
        {{ include('admin/category/_delete_form.html.twig') }}
        <a href="{{ path('category_index') }}" class="btn btn-dark mt-3">back to list</a>
    </div>
</div>
{% endblock %}
