{% for item in items %}
<div class=" col-md-6 annonce-desktop col-12 isotope-item Ordinateur mobile-text "
    style="position: absolute; left: 0%; top: 0px;">
    <div class="card mb-1 border-primar overflow-hidden" style="max-width: 590px;">
        <div class="row no-gutters">
            <div class="col-md-4 col-4 align-self-center overflow-hidden ">
                <img src="/public/img/annonces/annonce-29-img-1.jpg"
                    style="width:100%;height:180px;object-fit: cover; object-position: bottom;"
                    class=" align-middle d-block mx-auto" alt="photo manquante">
            </div>
            <div class="col-md-8 col-8 ">
                <div class="card-body">
                    <!-- Tittre  -->
                    <a href="/publication-detail-Connecteur_disque_dur-29" class="text-secondary" data-toggle="tooltip"
                        data-placement="left" title="" data-original-title="Visualiser l'annonce">
                        <h5 class="font-weight-bold text-capitalize text-truncate card-title name">
                            Connecteur disque dur </h5>
                    </a>

                    <!-- prix -->
                    <p class="card-text text-danger font-weight-bold ">5 000 F cfa <span
                            class="prix visible-false ">5000</span></p>
                    <!-- description -->

                    <p class="card-text text-dark"> <a class="hov-cl1 publication-detail " data-toggle="tooltip"
                            data-placement="left" title="" href="/publication-detail-Connecteur_disque_dur-29"
                            data-original-title="Plus de detail">Connecte ton disque dure facilement</a></p>

                    <!-- date de creation -->


                    <!-- info annonceur -->
                    <!-- <p class="card-text text-annonce text-truncate">
                            <span data-toggle="tooltip" data-placement="top" title="Adresse de l'annonceur">
                                <i class="fa fa-map-marker" aria-hidden="true"></i> Sacre coeur 2 </span>
                        </p> -->
                    <p class="card-text footer-annonce">
                        <!-- NB IMAGES -->
                        <a href="/publication-detail-Connecteur_disque_dur-29" class="text-secondary"
                            data-toggle="tooltip" data-placement="top" title="" data-original-title="Nombre d'images">
                            <i class="fa fa-camera" aria-hidden="true"></i> 1 |
                        </a>
                        <!-- NB VUEW -->
                        <a href="/publication-detail-Connecteur_disque_dur-29" class="text-secondary"
                            data-toggle="tooltip" data-placement="top" title="" data-original-title="Nombre de vues">
                            <i class="fa fa-eye" aria-hidden="true"></i>
                            66 </a>
                        |
                        <!-- CATEGORIE -->
                        <span class="text-secondary categorie" data-toggle="tooltip" data-placement="top" title=""
                            data-original-title="Catégorie">
                            Informatique </span>
                        |
                        <span data-toggle="tooltip" data-placement="top" title=""
                            data-original-title="Adresse de l'annonceur">
                            <i class="fa fa-map-marker" aria-hidden="true"></i> Sacre coeur 2 </span>

                    </p>
                    <p class="card-text"><small class="text-muted">Publier le mardi 20 juillet 2021 </small>
                    </p>
                </div>

            </div>
        </div>
    </div>
</div>
{% endfor %}