{% extends "base.html.twig" %}
{% import "macros/search.html.twig" as search %}

{% block title %}Toutes les annonces{% endblock %}
{% block body %}
<style>
    body {
        background: #eee
    }

    .ratings i {
        font-size: 16px;
        color: red
    }

    .strike-text {
        color: red;
        text-decoration: line-through
    }

    .product-image {
        width: 100%
    }

    .dot {
        height: 7px;
        width: 7px;
        margin-left: 6px;
        margin-right: 6px;
        margin-top: 3px;
        background-color: blue;
        border-radius: 50%;
        display: inline-block
    }

    .spec-1 {
        color: #938787;
        font-size: 15px
    }

    h5 {
        font-weight: 400
    }

    .para {
        font-size: 16px
    }
</style>
{{ search.search(form) }}
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-8">
        <div class="container-fluid mt-5 mb-5">
            <div class="d-flex justify-content-center row">
                <div class="col-md-10">
                    {{ include ("main/annonce/_annonce.html.twig",{items:annonces} ) }}
                </div>
                <div class="pagination p-2">
                    {{ knp_pagination_render(annonces) }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}