{% extends 'admin/base.html.twig' %}
{% import "macros/links.html.twig" as link %}
{% block title %}Edit Annonce{% endblock %}

{% block body %}
<div class="card">
    <div class="card-header">
        <h3>Edit Annonce</h3>
    </div>
    <div class="card-body">
    {{ include('admin/annonce/_form.html.twig', {'button_label': 'Update'}) }}

    {{ link.back(path('annonce_index'))}}
    {{ include('admin/annonce/_delete_form.html.twig') }}
    </div>
</div>
{% endblock %}
